# Release Notes: {{ .Package }} v{{ .Version }}

Released: {{ .Timestamp | date "2006-01-02" }}

{{- $major := list }}
{{- $minor := list }}
{{- $patch := list }}
{{- $other := dict }}

{{- range .Consignments }}
  {{- if eq .ChangeType "major" }}
    {{- $major = append $major . }}
  {{- else if eq .ChangeType "minor" }}
    {{- $minor = append $minor . }}
  {{- else if eq .ChangeType "patch" }}
    {{- $patch = append $patch . }}
  {{- else }}
    {{- $changes := index $other .ChangeType | default list }}
    {{- $changes = append $changes . }}
    {{- $other = set $other .ChangeType $changes }}
  {{- end }}
{{- end }}

{{- if $major }}

## Breaking Changes
{{- range $major }}
- {{ .Summary }}
{{- end }}
{{- end }}

{{- if $minor }}

## Features
{{- range $minor }}
- {{ .Summary }}
{{- end }}
{{- end }}

{{- if $patch }}

## Bug Fixes
{{- range $patch }}
- {{ .Summary }}
{{- end }}
{{- end }}

{{- range $type, $changes := $other }}

## {{ $type | title }}
{{- range $changes }}
- {{ .Summary }}
{{- end }}
{{- end }}
